<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
        }
    </style>
    <title>PDForge</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-neutral-50">
    <nav class="p-4 bg-white border-b border-b-neutral-200 fixed top-0 left-0 right-0 gap-8 flex justify-between bg-white ">
        <div class="flex gap-12">
            <a href="/" class="font-black tracking-tight text-xl">pdf<span class="text-orange-600">stract</span></a>
        

            <div class="flex items-center gap-12 *:text-neutral-800">
                <a href="/docs">Docs</a>
                <a href="/pricing">Pricing</a>
                <a class="priv_link" href="/dashboard">Dashboard</a>
                <a class="priv_link" href="/logout">Log out</a>
            </div>
        </div>

        <div class="space-x-2">
            <a href="/register" class="bg-orange-600 text-white p-2 rounded-lg shadow-md hover:opacity-90 transition duration-150">Get Started</a>
            <span class="text-neutral-600">or</span>
            <a href="/login" class=" text-orange-600 hover:opacity-80 transition duration-150">Log In</a>
        </div>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        const isAuthenticated = "{{ is_authenticated }}" === "True"
        const privLink = document.querySelectorAll(".priv_link")
        console.log(privLink)

        privLink.forEach(link=> !isAuthenticated ? link.classList.add("hidden") : link.classList.remove("hidden"))
        
    </script>
</body>
</html>