{% extends "base.jinja" %}

{% block content %}
    <div>
        <div :class="isDark ? 'text-white' : 'text-neutral-800' " class="p-4 h-dvh flex flex-col gap-4 justify-center items-center">
            dashboard

        </div>
        
    </div>
{% endblock %}