<footer :class="isDark ? 'text-neutral-500 bg-neutral-900 border-t-neutral-800' : 'text-neutral-800 bg-neutral-50 border-t-neutral-300 ' " class="shadow-md flex justify-between border-t p-8 ">
    
    <div class="flex flex-col gap-4">
        <p class="font-black text-3xl tracking-tight transition-colors duration-150 whitespace-nowrap"
                    :class="isDark ? 'text-white' : 'text-black'">
                    pdf<span class="text-orange-600">stract</span>
                </p>

        <p>© 2026</p>

        <a href="/home">Home</a>
        <a href="{{ '/dashboard' if is_authenticated else '/register' }}">Get Started</a>
        <a href="/docs">Docs</a>
        <a href="/pricing">Pricing</a>
    </div>

    <div class="text-center flex items-end transition-colors duration-150"
        :class="isDark ? 'text-neutral-400' : 'text-neutral-500'">
        <p class="text-sm space-y-2">
            <span class="block">If you hit any issues, email me directly at <strong :class="isDark ? 'text-white' :'text-black'">fares.kebbeh@gmail.com</strong></span>
        </p>
    </div>
</footer>