{% extends "base.jinja" %}

{% block content %}

<div class="h-dvh flex items-center justify-center">
    <form id="form" method="post" action="/forgot-password"
        :class="isDark ? 'border-neutral-800 bg-neutral-900' : 'border-neutral-300 bg-white'"
        class="flex p-8 rounded-2xl shadow-lg border flex-col gap-4 justify-center">
        <p :class="isDark ? 'text-white' : 'text-neutral-800'" class="text-3xl font-bold">Enter your email</p>
        <p :class="isDark ? 'text-neutral-400' : 'text-neutral-500'" class="text-xl">We will send you an email
            containing a link to reset the password</p>
        <input id="email" placeholder="Email" autofocus
            :class="isDark ? 'border-neutral-700 bg-neutral-800 text-neutral-100' : 'bg-neutral-100 border-neutral-300 text-neutral-700'"
            class="w-full font-bold transition duration-150 border outline-none p-3 text-xl shadow-sm rounded-2xl placeholder:font-normal"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            type="email"
            required
            name="email"
            />
        <p class="hidden text-red-500">Invalid Email format</p>
        <p id="errorMsg" class="hidden text-red-500"></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="text-sm transition-colors duration-150
                            {% if category == 'success' %}text-green-500 dark:text-green-700
                            {% elif category == 'error' %}text-red-500 dark:text-red-500
                            {% elif category == 'warning' %}text-yellow-700 dark:text-yellow-300
                            {% else %}text-blue-500 dark:text-blue-700
                            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <button onclick="sendEmail()"
            class="w-full text-white p-3 rounded-xl text-xl shadow-sm bg-orange-600 cursor-pointer transition duration-150 hover:opacity-90 active:opacity-80">Send</button>
    </form>
</div>

<script>
    const form = document.getElementById('form')
    const email = document.getElementById('email');
    const errorMsg = document.getElementById('errorMsg');
    email.addEventListener('input',function (){
        if (this.validity.valid || !email.value) {
            email.classList.remove("border-red-500", 'bg-red-500/20');
        }
        else {
            email.classList.add('border-red-500', 'bg-red-500/20');
        }
    })

    function sendEmail() {
        if (!email.value) {
            errorMsg.innerHTML = 'Email is required';
            errorMsg.classList.remove('hidden');
            return;
        }
        if (!email.validity.valid) {
            errorMsg.innerHTML = 'Invalid email format';
            errorMsg.classList.remove('hidden');
            return;
        }
    }

    form.addEventListener('submit', function(e) {
                let isValid = true;
                
                if (!email.validity.valid || !email) {
                    emailError.classList.remove('hidden');
                    email.classList.add('border-red-500');
                    isValid = false;
                }
                
                if (!isValid) {
                    e.preventDefault();
                }
            });


    /*if(!email.value) {
        errorMsg.classList.remove('hidden')
        errorMsg.innerHTML = 'email cannot be empty'
    }*/
</script>
{% endblock %}