{% extends "base.jinja" %}

{% block content %}
<div class="pt-56 flex flex-col gap-32 sm:gap-0 pb-16 sm:pb-0 sm:pt-0 **:transition-colors **:duration-150">
    <div :class="isDark ? 'text-white' : 'text-neutral-800' "
        class="p-4 h-dvh flex gap-4 flex-col sm:flex-row justify-center *:flex-1 *:p-4 sm:*:p-8 items-center">
        <div class="space-y-8 sm:space-y-4">
            <p class="text-5xl font-black ">Turn images + PDF files to plain text with one request</p>
            <p class="text-2xl" :class="isDark ? 'text-neutral-400' : 'text-neutral-600'">My responsive RESTful API will
                provide text extraction and OCR capabilities to your app, with a very minimal cost.</p>
            <a href="{{ '/dashboard' if is_authenticated else '/register' }}"
                class="text-xl p-3 shadow-sm text-white bg-orange-600 rounded-xl">Get Your API Key</a>
        </div>
        <div class="flex flex-col gap-4">

            <div class="flex text-xl gap-4">
                <div :class="isDark ? 'border-neutral-700' : 'border-neutral-400' "
                    class="border p-2 rounded-md bg-yellow-50 text-neutral-800 shadow-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </div>
            </div>

            <div :class="isDark ? 'border-neutral-700 bg-neutral-800' : 'border-neutral-300' "
                class="border rounded-xl shadow-sm overflow-hidden flex flex-col gap-1">
                <div :class="isDark ? 'bg-neutral-900' : 'bg-neutral-200' " class="p-2 flex gap-2 shadow-md justify-end">
                    <div class="w-4 h-4 bg-red-500 rounded-full"></div>
                    <div class="w-4 h-4 bg-amber-500 rounded-full"></div>
                    <div class="w-4 h-4 bg-green-500 rounded-full"></div>
                </div>
                <div class="flex flex-col gap-1 p-2">
                    <code>$ curl -X POST https://api.pdfstract.com/extract</code>
                    <code>-H "Authorization: Bearer YOUR_API_KEY"</code>
                    <code>-F "file=@test.pdf"</code>
                </div>
            </div>

            <div class="shadow-sm flex flex-col gap-1 p-2 rounded-lg border font-mono text-sm"
                :class="isDark ? 'bg-neutral-900 border-neutral-700' : 'bg-neutral-50 border-gray-300'">
                <div>
                    <span :class="isDark ? 'text-yellow-400' : 'text-purple-600'">{</span>
                </div>

                <div class="pl-4">
                    <span :class="isDark ? 'text-blue-400' : 'text-blue-600'">"status"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">:</span>
                    <span :class="isDark ? 'text-green-400' : 'text-green-600'">"success"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">,</span>
                </div>

                <div class="pl-4">
                    <span :class="isDark ? 'text-blue-400' : 'text-blue-600'">"data"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">:</span>
                    <span :class="isDark ? 'text-yellow-400' : 'text-purple-600'">{</span>
                </div>

                <div class="pl-8">
                    <span :class="isDark ? 'text-blue-400' : 'text-blue-600'">"filename"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">:</span>
                    <span :class="isDark ? 'text-green-400' : 'text-green-600'">"test.pdf"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">,</span>
                </div>

                <div class="pl-8">
                    <span :class="isDark ? 'text-blue-400' : 'text-blue-600'">"extracted_text"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">:</span>
                    <span :class="isDark ? 'text-green-400' : 'text-green-600'">"Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt."</span>
                </div>

                <div class="pl-4">
                    <span :class="isDark ? 'text-yellow-400' : 'text-purple-600'">}</span>
                </div>

                <div>
                    <span :class="isDark ? 'text-yellow-400' : 'text-purple-600'">}</span>
                </div>
            </div>


        </div>



    </div>

    <div class="p-12 h-dvh flex flex-col gap-20" :class="isDark ? 'text-white' : 'text-neutral-800'">
    <p class="text-4xl font-black">It even works on images and image PDF files,<br> no matter the quality</p>

    <div class="w-full flex justify-center">
        <div class="flex gap-8 items-center flex-col sm:flex-row">
            <img src="{{ url_for('static', filename='images/lorem-img.png') }}" class="h-32 rounded-md shadow-md w-auto" />

            <div class="flex items-center gap-2">
                <svg class="w-12 h-12 text-orange-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </div>

            <p class="font-black text-3xl tracking-tight transition-colors duration-150 whitespace-nowrap"
                :class="isDark ? 'text-white' : 'text-black'">
                pdf<span class="text-orange-600">stract</span>
            </p>

            <div class="flex items-center gap-2">
                <svg class="w-12 h-12 text-orange-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </div>

            <div class="flex flex-col gap-1 p-2 rounded-lg border font-mono text-sm shadow-sm"
                :class="isDark ? 'bg-neutral-900 border-neutral-700' : 'bg-neutral-50 border-neutral-300'">
                <div>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-400'">...</span>
                </div>
                <div class="pl-4">
                    <span :class="isDark ? 'text-blue-400' : 'text-blue-600'">"extracted_text"</span>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-600'">:</span>
                    <span :class="isDark ? 'text-green-400' : 'text-green-600'">"LOREM IPSUM"</span>
                </div>
                <div>
                    <span :class="isDark ? 'text-gray-400' : 'text-gray-400'">...</span>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}