{% extends "base.jinja" %}

{% block content %}
    <div class="p-4 h-dvh flex flex-col gap-4 justify-center items-center">
        <div class="p-6 w-80 sm:w-120 rounded-xl overflow-y-auto shadow-md border flex flex-col gap-4 transition-colors duration-150"
             :class="isDark ? 'bg-neutral-800 border-neutral-700' : 'bg-white border-neutral-200'">
            
            <p class="text-4xl font-bold transition-colors duration-150"
               :class="isDark ? 'text-neutral-200' : 'text-black'">Settings</p>
            
            
            <div class="flex flex-col gap-4 items-start w-full">

                <p class="font-bold text-2xl" :class="isDark ? 'text-white' : 'text-black'">Account</p>


                
                <a href="/password-reset" class="flex hover:opacity-80 justify-between w-full items-center">
                    <div class="flex p-2 gap-4 items-center" :class="isDark ? 'text-neutral-300' : 'text-neutral-700'">
                        <i class="fas fa-key"></i>
                        <p>Change Password</p>
                    </div>

                </a>
                
                <div class="h-px transition duration-150 w-full" :class='isDark ? "bg-neutral-700" : "bg-neutral-200"'></div>

                <div class="flex justify-between hover:opacity-80 w-full items-center">
                    <div class="flex p-2 gap-4 items-center">
                        <i class="text-red-500 fas fa-trash"></i>
                        <p class="text-red-500">Delete Account</p>
                    </div>

                </div>

                <div class="h-px transition duration-150 w-full" :class='isDark ? "bg-neutral-700" : "bg-neutral-200"'></div>

                <a href="/logout" class="flex hover:opacity-80 justify-between w-full rounded-xl transition duration-150 items-center">
                    <div class="flex p-2 gap-4 items-center">
                        <i class="text-red-500 fas fa-sign-out-alt"></i>
                        <p class="text-red-500">Log out</p>
                    </div>

                </a>

                <div class="text-red-500 text-sm hidden" id="passwordError">Password is required</div>
                
            </div>
        </div>
    </div>
{% endblock %}